<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">Expenses</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup" [collapse]="isCollapsed">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/wallets">Wallets</a>
            </div>
            <div class="navbar-nav">
                <a role='button' class="nav-link active pointer" aria-current="page" (click)="logout()" *ngIf="isLoggedIn.value">Logout</a>
                <a class="nav-link active " aria-current="page" routerLink="/login" *ngIf="!isLoggedIn.value">Log in</a>
            </div>
        </div>
    </div>
</nav>