<h1 class="page-title text-center">Transactions</h1>

<div class="d-flex justify-content-between align-items-center">
    <a class="btn btn-success" *ngIf="period && !period?.value.isClosed" (click)="openModalCreate()">Add a transaction</a>

    <div *ngIf="period" class="row">
        <div class="col border"><span class="fw-bold">Balance:</span></div>
        <div class="col border">{{period?.value.balance | currency:'BRL':'symbol'}}</div>
        <div class="w-100"></div>
        <div class="col border"><span class="fw-bold">Salary:</span></div>
        <div class="col border">{{period?.value.salary | currency:'BRL':'symbol'}}</div>
    </div>
</div>

<br>

<div class="alert alert-danger" *ngIf="errorMsg">
    Error while creating - {{errorMessages[0]}}
</div>

<table class="table table-hover">
    <thead class="table-light">
        <tr bgColor="black">
            <th scope="col">Id</th>
            <th scope="col">Period</th>
            <th scope="col">Value</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Description</th>
            <th scope="col">Date Of Movement</th>
            <th scope="col" *ngIf="!period?.isClosed"></th>
            <th scope="col" *ngIf="!period?.isClosed"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions | async;" [ngClass]="{'table-success': transaction.transactionName == 'Crédito' || transaction.transactionName == 'Salário',
                         'table-danger': transaction.transactionName == 'Débito'}">
            <th scope="row">{{transaction.id}}</th>
            <td>{{transaction.periodId}}</td>
            <td>{{transaction.value | currency:'BRL':'symbol'}}</td>
            <td>{{transaction.transactionName}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.dateOfMovement | date:'dd/MM/YYYY'}}</td>
            <td *ngIf="!period?.value.isClosed"><a class="btn btn-primary btn-sm" (click)="openModalEdit(transaction.id)">Edit</a></td>
            <td *ngIf="!period?.value.isClosed"><a class="btn btn-danger  btn-sm"
                    (click)="deleteTransaction(transaction.id)">Delete</a></td>
        </tr>
    </tbody>
</table>

<app-generic-modal #modalCreate [title]="'Create Transaction'">
    <app-transaction-create [periodId]="periodId"></app-transaction-create>
</app-generic-modal>

<app-generic-modal #modalEdit [title]="'Edit Transaction'">
    <app-transaction-edit [transactionId]="editTransactionId"></app-transaction-edit>
</app-generic-modal>